	

	html, body {
    margin: 0 auto;
    min-height: 100%;
	background: -webkit-linear-gradient(grey, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(grey, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(grey, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(grey, white); /* Standard syntax (must be last) */
}

body {
	width:960px;
	//margin: 0 auto;
	height: 100p%;
	
	
}

#container
{
	margin: 0 auto;
	background: #fff;
	width: 100%;
}

main {
	margin: 0 auto;
	background: #fff;
	width: 100%;
}

header {
	margin: 0 auto;
	background: white;
	padding: 20px;
	border: 10px;
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	background: -webkit-linear-gradient(left, grey , white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, grey, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, grey, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, grey, white); /* Standard syntax */
	
}

header h1 {
	margin: 0 auto; 
}



img.pesLogo {
    float:  left;
}



#titleposition {
	background-color: white;
	width: 96%;
	padding-left: 50px;
	height: 50%;
	margin: 0 auto;
}

nav {
	float: left;
	width: 100%;
	background: black;
	
}

nav ul {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

nav ul li {
	list-style-type: none;
	display: inline;
}

nav li a {
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

nav li a:hover {
	background: #384; 
}

footer {
	background: #ccc;
	text-align: center;
	margin-top: 10px;
	font-family: 'Oswald', sans-serif;
	height: 20px;
	font-size: 10px;
	padding-top: 5px;
}

button {
	height:50px;
	width: 24%;
	font-family: 'Oswald', sans-serif;
	position: center;
	font-size: 1em;
	margin-top: 10px;
}

#reset {
	margin-right: 0%;
	font-size: 1em;
}

#buttons {
	width: 98%;
	margin: 0 auto;
	height: 20%;
}

#drawAll {
	font-size: 1em;
	margin-left: 1px;
	font-size: 1em;
}

#pickTeam {
	margin-left: 1.4%;
	font-size: 1em;
	font-size: 1em;
}

#teamPicked {
	margin-left: 1.4%;
	font-size: 1em;
	font-size: 1em;
}

select {
	width: 24%;
	font-family: 'Oswald', sans-serif;
	height:50px;
	background: -webkit-linear-gradient(#F7F7F7, #DDDDDD); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#F7F7F7, #DDDDDD); /* For Opera 11.1 to 12.0 */		background: -moz-linear-gradient(#F7F7F7, #DDDDDD); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#F7F7F7, #DDDDDD); /* Standard syntax (must be last) */
	margin-left: 1.4%;
	font-size: 1em;
	cursor:pointer;
	padding-left: 7%;
}

tr {
	width: 25%;
}

td {
	//width: 25%;
	font: verdana;
}

th {
	width: 25%;
	text-align: centre;
	text-decoration: underline;
}

#titleposition a  {
text-decoration: none;
}

#titleposition a:visited  {
text-decoration: none;
 color: black;
}





.welcomeHeader {
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
	padding-top: 20px;
	font-family: 'Oswald', sans-serif;
}

.about {
	font-size: 20px;
	margin: 0 auto;
	width: 90%;
	font-family: 'Oswald', sans-serif;
	padding-bottom: 10px;
	text-align: center;
}
.hide {
	visibility: hidden
}
#content {
height: 100%;
background-color: white;
width: 100%;
}

table {
	border-spacing: 50px 20px;
	font-family: 'Oswald', sans-serif;
	border-style: outset;
	
}

.myTables {
	width:25%;
	float:left;
	display: inline-block;
}

.table {
	//width: 100px;
	float: left;
	display: inline-block;
	
}

.red {
	color: #1E98BD;
	//font-weight: bold;
}

.flag img{
	padding-right: 10px;
	//padding-top: 20px;
}

.topButton {
display: none;
}

