@media screen and (max-width: 730px) {

html body{
background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)) repeat scroll 0% 0% transparent;
margin: 0 auto;
    min-height: 100%;
}
body{
width: 480px;

}


.myTables {
width: 50%;

}

button {
width: 25%;
position: fixed;
top: 157px;
left: 0px;


}

select {
width: 23%;
left: 0%;
position: fixed;
top: 168px;
padding-left: 3%;
padding-bottom: 5px;

}
#teamPicked{
//font-size: 15px;
margin-top: 10px;
font-size: 14px;

}
.buttonSpace {
margin-top: 216px;

}
#buttonSpace{
position: fixed;
top: 162px;
left: 0px;
width: 100%;
background: white;
height: 60px;
}

header {
position: fixed;
top: 0;
left: 0;
width: 100%;
}

nav {
position: fixed;
top: 129px;
left: 0;
width: 100%;
}

#reset {
	left: 75.5%;
}

#pickTeam {
left: 0%;
margin-left: 0%;
}

#drawAll {
left: 50%;
}

#draw {
left: 25%;
}

#teamPicked {
	left: 0%;
	margin-left: 0%;
	
}


table {
background-color: white;
}
body.index{
height: 100%;
}

.welcomeHeader {
padding-top: 150px;
}
.hideMobile {
	display: none;
}

.topButton {
display: none;
}
}