@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { /* STYLES GO HERE */
html {
height: 100%;
}
#titleposition{
padding-left: 8%;
}

nav {
    top: 87px;
}
table {
    border-spacing: 46px 20px;
    border-collapse: collapse;
	height: 192px;

}
.welcomeHeader {
    padding-top: 102px;
	font-size: 27px;
}

p.about {
    padding-bottom: 40px;
    font-size: 18.4px;
}
 

#grpA.myTables {
    margin-top: 124px;
}


header {
background: #FFF;
}

img.pesLogo {
    margin-left: -4%;

}
#title {
    clear: none;
    margin: -5%;
}

#pickTeam {
    top: 121px;
	left: 74%;
}

#draw {
    top: 191px;
	left: 72.4%;
}
#drawAll {
    top: 261px;
	left: 73.5%;
}
#reset {
    top: 331px;
	left: 72.4%;
}

#backToTop {
    top: 401px;
    height: 75px;
    left: 72.5%;
}

footer {
width: 74.3%;
}

select{
left: 72.5%;
top: 126px;
height: 67px;
width: 25%;

}
#teamPicked {
    top: 113px;
    left: 74%;
}

td.table.flag {
    width: 100%;
    padding-left: 17%;
    padding-top: 1.5%;
    padding-bottom: 3.6%;
}

footer{
width: 100%;
display: none;
}

#content {
width: 117%;
margin-left: -10%;
}

content {
width: 124%;
margin-left: -13%;
}

/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
body {

background-color: blue;
}